  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/app.css') }}"
    />
  </head>


<!DOCTYPE html>
<html lang="en">
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="#">Hyperparameters</a>
    <form action="/calculate" method="calculate">
      <label for="style_weight">Style Weight:</label><br>
      <input type="text" id="style_weight" name="style_weight" value="1"><br>
      <label for="content_weight">Content Weight:</label><br>
      <input type="text" id="content_weight" name="content_weight" value="1"><br>
      <label for="output_size">Output Size:</label><br>
      <input type="text" id="output_size" name="output_size" value="600"><br>
      <label for="no_iter">Number of Iterations:</label><br>
      <input type="text" id="no_iter" name="no_iter" value="100"><br>
      <label for="style_1">Most Simple Patterns:</label><br>
      <input type="text" id="style_1" name="style_1" value="0.2"><br>
      <label for="style_2">Simple Patterns:</label><br>
      <input type="text" id="style_2" name="style_2" value="0.2"><br>
      <label for="style_3">Generic Patterns:</label><br>
      <input type="text" id="style_3" name="style_3" value="0.2"><br>
      <label for="style_4">Complex Patterns:</label><br>
      <input type="text" id="style_4" name="style_4" value="0.2"><br>
      <label for="style_5">Most Complex Patterns:</label><br>
      <input type="text" id="style_5" name="style_5" value="0.2"><br>
      <label for="start_img">Choose starting image:</label>
      <select name="start_img" id="start_img">
        <option value="content">Content</option>
        <option value="random">Random</option>
        <option value="path">Upload</option>
      </select>
      <button type="submit" formmethod="post">Combine Content and Style images!</button>
    </form>
  </div>


  <body>
    <div class="header">
      <h2>Neural Style Transfer App</h2>
    </div>
      <form action="/upload_image" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label>Select content image</label>
            <input type="file" class="custom-file-input" name="up_content_img" id="up_content_img">
            <label class="custom-file-label" for="image"></label>
            <label>Select style image</label>
            <input type="file" class="custom-file-input" name="up_style_img" id="up_style_img">
            <label class="custom-file-label" for="image"></label>
            <label>Select start image</label>
            <input type="file" class="custom-file-input" name="start_img" id="start_img">
            <label class="custom-file-label" for="image"></label>
            <input type = "submit"/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    <!-- Form -->
    <div class="main">
      <div>
        <h2>Content Image</h2>
        <img src="{{ content_img }}" alt="Content Image">
        <h2>Style Image</h2>
        <img src="{{ style_img }}" alt="Style Image">
        <h2>Generated Image</h2>
        <img src="{{ generated_image }}" alt="Generated image will appear here!">
      </div>
    </div>
  </body>

</html>


